
@{
    ViewBag.Title = "Input";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form action="/QuanlyNhanvien/Output" method="post">
    <table border="1">
        <tr>
            <td>Mã nhân Viên</td>
            <td><input type="text" name="manv" /></td>
        </tr>
        <tr>
            <td>Họ tên</td>
            <td><input type="text" name="hoten" /></td>
        </tr>
        <tr>
            <td>Địa chỉ</td>
            <td>
                <select name="diachi">
                    <option>Hà Nội</option>
                    <option>Hải Phòng</option>
                    <option>Quảng Ninh</option>
                </select>
            </td>
        </tr>
        <tr>
            <td>Số ngày làm</td>
            <td><input type="text" name="songaylam" /></td>
        </tr>
        <tr>
            <td>Lương ngày</td>
            <td><input type="text" name="luongngay" /></td>
        </tr>
        <tr>
            <td colspan="2">
                <input type="submit" value="Submit" />
                <input type="reset" value="Reset" />
            </td>
        </tr>
    </table>
</form>